
*{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

header{
    height: 125px;
    background-color: #FAF3DD;
    display: flex;
    align-items: center;
    margin: -10px;
    border-bottom: solid 2px lightgrey;
}

h1{
    font-size: 35px;
    font-weight: bold;
    margin-left: 190px;
}

.dragThing{
    background-color: white;
    text-align: left;
    cursor: grab;
    width: 400px;
    height: 50px;
    box-sizing: content-box;
    border-radius: 5px;
    border: solid 4px white;
    font-size: 14px;
}

.dragThing.selected{
    border-color: #73AEE4;
}

#dragParent > *{
    margin-top: 5px;
}

#draftGame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

#howToPlay{
    flex-basis: 100%;
    margin-left: 30px;
}

h2{
    text-align: center;
    color: #73AEE4;
    font-weight: 700;
}

#draftOrderBox{
    background-color: lightgray;
    border: solid 5px;
    border-color: lightgrey;
    height: 560px;
    overflow-y: scroll;
    border-radius: 5px;
}

#playersBox{
    display: flex;
    background-color: lightgray;
    height: 560px;
    width: 700px;
    border: solid 5px;
    border-color: lightgrey;
    border-radius: 5px;
}

.availablePlayers{
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

.rosterPhoto img{
    border-radius: 5px;
}

.playerPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerName{
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.playerPosition{
    font-size: 15px;
    width: 29px;
    height: 24px;
    display: flex;
    color: white;
    background-color: black;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 80px;
    margin-left: 57px;

}

.addPlayerButton{
    position: absolute;
    margin-top: 105px;
    margin-right: 100px;
}

.playerSchool{
    font-size: 12px;
    margin-top: -10px;
}

.playerRank{
    font-size: 12px;
}

.addPlayerButton:hover{
    cursor: pointer;
}