
*{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

header{
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -10px;
    justify-content: center;
    background-color: #FAF3DD;
    border-bottom: solid 1px;
}

.nflLogo img{
    width: 200px;
    padding-right: 50px;
    margin-top: 30px;
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #00346D;
    margin-top: 60px;
}

#howToPlay{
    display: flex;
    flex-basis: 100%;
    text-align: right;
    font-size: 24px;
    padding-right: 10px;
    align-items: center;
    justify-content: right;
}

#howToPlay p{
    padding-right: 10px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

#howToPlayText:hover{
    cursor: pointer;
}

#informationIcon{
    width: 40px;
    height: 40px;
}

#informationIcon:hover{
    cursor: pointer;
}

.dragThing{
    background-color: white;
    text-align: left;
    cursor: grab;
    width: 400px;
    height: 69px;
    box-sizing: content-box;
    border-radius: 5px;
    border: solid 4px white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.dragThing.selected{
    border-color: #73AEE4;
}

#dragParent > *{
    margin-top: 5px;
}

#draftGame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

h2{
    text-align: center;
    color: #00346D;
    font-weight: 700;
    font-size: 30px;
}

#draftOrderBox{
    background-color: #EEF3F6;
    border: solid 5px;
    border-color: #EEF3F6;
    height: 560px;
    overflow-y: scroll;
    border-radius: 5px;
}

#playersBox{
    display: flex;
    background-color: #EEF3F6;
    height: 560px;
    width: 700px;
    border: solid 5px;
    border-color: #EEF3F6;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow: scroll;
}

.availablePlayers{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: center;
}

.players{
    padding: 20px;
    position: relative;
    width: 130px;
    height: 159px;
    color: black;
}

.rosterPhoto{
    border-radius: 5px;
    width: 86px;
    height: 98px;
    margin-top: 8px;
    background-color: white;
}

.playerPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerName{
    font-size: 14px;
    font-weight: bold;
}

.playerPosition{
    font-size: 12px;
    font-weight: bold;
}

.playerSchool{
    font-size: 12px;
}

.addPlayerButton{
    position: absolute;
    left: 15px;
    top: 100px;
}

.addPlayerButton:hover{
    cursor: pointer;
}

.playerImage img{
    width: 46px;
    height: 53px;
    margin-left: 5px;
    margin-right: 5px;
}

.selectedPlayer{
    display: flex;
}

.playerInfo{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    margin-top: 8px;
    text-align: right;
}

.selectedPlayerName{
    font-size: 12px;
    font-weight: bold;
}

.selectedPlayerPosition{
    font-size: 12px;
    font-weight: bold;
}

.selectedPlayerSchool{
    font-size: 12px;
}

.pick{
    text-align: left;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.teamName{
    text-align: left;
    font-size: 20px;
}

.teamAndPick{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#submissionBox{
    flex-basis: 100%;
    text-align: right;
    margin-top: 10px;
}

.submitButton{
    background-color: #00346D;
    color: white;
    width: 150px;
    border-radius: 5px;
}

.submitButton:hover{
    cursor: pointer;
}

.totalScore{
    font-size: 30px;
}

.returnToGame{
    display: flex;
    align-items: center;
}

.returnToGameText{
    font-size: 14px;
}

#returnIcon{
    width: 40px;
    height: 40px;
}

#returnIcon:hover{
    cursor: pointer;
}

.returnToGameText:hover{
    cursor: pointer;
}

#instructionsContent{
    margin-left: 100px;
    margin-top: 50px;
}

.instructionsParagraph{
    width: 735px;
}

.scoringExample{
    width: 735px;
}
